.flight-card{

background:white;

padding:20px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

margin-bottom:20px;

text-align:center;

transition:.3s;

}

.flight-card:hover{

transform:translateY(-6px);

}

.flight-card h3{

color:#0d47a1;

margin-bottom:12px;

}

.flight-price{

font-size:30px;

font-weight:bold;

color:#00a651;

margin:18px 0;

}

.book-btn{

display:inline-block;

padding:12px 28px;

background:#ff9800;

color:white;

border-radius:30px;

text-decoration:none;

font-weight:bold;

transition:.3s;

}

.book-btn:hover{

background:#f57c00;

}