.hero{
    position: relative;
    min-height: 88vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 90px;   /* Space for the fixed navbar */
    text-align: center;

    background:
    linear-gradient(rgba(7,24,54,.55),
    rgba(7,24,54,.65)),
    url("../images/hero.jpg.jpeg") center/cover no-repeat;

    overflow: hidden;
}

.hero-overlay{
    position:absolute;
    inset:0;
    background:rgba(7,25,66,.55);
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:850px;
    color:#fff;
    padding:20px;
}

.hero-tag{
    display:inline-block;
    background:rgba(255,255,255,.15);
    border:1px solid rgba(255,255,255,.3);
    padding:10px 22px;
    border-radius:50px;
    margin-bottom:25px;
    backdrop-filter:blur(10px);
}

.hero h1{
    font-size:68px;
    font-weight:800;
    line-height:1.15;
    margin-bottom:25px;
}

.hero h1 span{
    color:#F4B400;
}

.hero p{
    font-size:20px;
    line-height:1.8;
    margin-bottom:40px;
    color:#f2f2f2;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.primary-btn,
.secondary-btn{
    text-decoration:none;
    padding:16px 38px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;
}

.primary-btn{
    background:#F4B400;
    color:#000;
}

.primary-btn:hover{
    transform:translateY(-3px);
}

.secondary-btn{
    border:2px solid white;
    color:white;
}

.secondary-btn:hover{
    background:white;
    color:#0B3D91;
}

.hero-stats{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:70px;
    flex-wrap:wrap;
}

.stat-box{
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.2);
    padding:25px 35px;
    border-radius:20px;
    min-width:180px;
}

.stat-box h2{
    color:#F4B400;
    margin-bottom:10px;
}