.weather-card{

text-align:center;

}

.weather-temp{

font-size:64px;

font-weight:700;

color:#0d47a1;

margin:25px 0;

}

.weather-condition{

font-size:24px;

font-weight:600;

color:#ff9800;

margin-bottom:25px;

}

.weather-details{

display:flex;

justify-content:space-around;

margin-top:20px;

}

.weather-details div{

background:#f4f8ff;

padding:15px;

border-radius:15px;

width:120px;

}

.weather-details span{

display:block;

font-size:18px;

font-weight:bold;

margin-top:10px;

}

.weather-details small{

color:#666;

}